DATABASE_URI=postgresql://placeholder:placeholder@placeholder.neon.tech/placeholder?sslmode=require
PAYLOAD_SECRET=CHANGE_THIS_TO_A_RANDOM_32_CHAR_SECRET
NETLIFY_BUILD_HOOK_URL=https://api.netlify.com/build_hooks/CHANGE_THIS
PORT=3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
